@charset "ISO-8859-1";

body {
    background-color: #e6f4ee;
    
}

.container {
text-align: center;
}

.container ul {
text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
